@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

.primary-button {
  @apply rounded bg-blue-400 py-2 px-4 shadow outline-none hover:bg-blue-500 active:bg-blue-400 text-white mb-2;
}
